table {
  th, td {
    &.settings_plugin_plugin_manager_plugins_name {
      text-overflow: ellipsis;
      text-align: left;
    }

    &.settings_plugin_plugin_manager_plugins_actions {
      text-align: center;
      width: 80px;

      a {
        text-decoration: none;
        color: #000;

        &.disabled {
          color: #ccc;
          cursor: default;
        }
      }
    }
  }
}

#settings_plugin_pluginmanager_repositorydialog {
  .slimScrollDiv {
    margin-bottom: 20px;
  }

  h5 {
    position: relative;

    a.dropdown-toggle {
      color: inherit;
      text-decoration: none;
    }
  }

  #settings_plugin_pluginmanager_repositorydialog_list {
    overflow: hidden;
    width: auto;
    height: 300px;

    .entry {
      border-bottom: 1px solid #ddd;
      padding: 5px;
      padding-right: 10px;
    }
  }
}

